body {
    background-color: wheat;
    font-family: 'Long Cang', cursive;
    padding-top: 300px;
}
.word-container {
    text-align: center;
    margin-top: 100px;
}
.blank-space {
    border-bottom: 2px solid #ab3c3c;
    height: 45px;
    width: 45px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    color: wheat;
}
.btn-container {
    margin-top: 100px;
}
img {
    height: 300px;
}
.img-container {
    padding-left: 353px;
}
.incorrect {
    margin-top: 50px;
}
@media only screen and (max-width : 1200px) {
    .img-container {
        padding-left: 270px;
    }
}
@media only screen and (max-width : 991px) {
    .img-container {
        padding-left: 129px;
    }
}
@media only screen and (max-width : 767px) {
    .img-container {
        padding-left: 42px;
    }
}
@media only screen and (max-width : 500px) {
    .img-container {
        padding-left: 10px;
    }
}
@media only screen and (max-width : 470px) {
    .img-container {
        padding-left: 0px;
    }
    .blank-space {
        width: 12px;
}
